<!DOCTYPE html>
<html>
  <head>
    <title>Movie Recommender</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />
    <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
  </head>
  <script>

  $(document).ready(function () {
           
            $.ajax({
                "url": "/get_data",
                "dataType": "json",
                "dataSrc": "data",
                "contentType":"application/json",
                "success":function(data){
                  populateDataTable(data)
                }
            })
        });
    function dynamic_counter(data){

    }
   function populateDataTable(data) {
    console.log("populating data table...");
    $('#example').dataTable( {
        "scrollY":        "1000px",
        "scrollCollapse": true,
        "paging":         false
    } ); 
    //$("#example").dataTable().clear();
    var length = Object.keys(data).length;
    for(var i = 0; i < length; i++) {
      var customer = data[i];

      $('#example').dataTable().fnAddData( [
        '<img src="/static/thumbnails/'+customer._id+'.jpg">',
        //'<img src="data:image/jpeg;base64,'+ customer.imgbin + '">',
        customer._id,
        customer.name,
        customer.genre,
        customer.dor,
        customer.summary,
        customer.IMDBrating,
        customer.nfvoters,
        '<select id="'+customer._id+'" onchange="dynamic_counter(this.value)"><option value="0">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option></select>'
      ]);
    }

  }
  function sendData(value){
    var i=0;
    var count=0
    var result= new Array(10);
    for(i;i<221;i++)
    {
      var v=document.getElementById("m"+i).value;
      if(v!="0")
      {
        var obj=new Object();
        obj.id="m"+i;
        obj.value=v
        var jsonString=JSON.stringify(obj);
        if(count<10)
       {
          result[count]=jsonString;
       }
       count=count+1;
      }
    }
    if(count!=10)
    {
      alert("Rate only 10!!!!Current Count:"+count);
      console.log(count);
    }
    else
    { var furl='';
      if(value=="I"){
        furl='/iget_back_data'
      }
      else if(value=="U"){
        furl='/uget_back_data'
      }
      else{
        furl='/mget_back_data'
      }

      var data=JSON.stringify({'data':result})
      $.ajax({
          contentType: 'application/json; charset=utf-8',
          dataType: 'json',
          type: 'POST',
          url: furl,
          data: data,
          dataSrc:"data1",
          success:function(response){
            //document.write(response);
            console.log(response)
            sessionStorage.setItem("data1",response);
            window.location.href="result";
          }

      });
    }
  };
  </script>
  <body>
    <div class="container" >
      <h1>Movies Reccomender</h1>
      <div class="btn-group btn-group-lg">
        <button type="button" class="btn btn-primary"  value="U" onclick="sendData(this.value)">User-Based Recommendations</button>
        <button type="button" class="btn btn-primary"  value="I" onclick="sendData(this.value)">Item-Based Recommendations</button>
        <button type="button" class="btn btn-primary"  value="M" onclick="sendData(this.value)">Matrix Factorization</button>
    </div>
    </div>
    <div class="container">
      <h3>Please Select any 10 Movies to rate:</h3>
    </div>
    <div class="container">
      <div class="panel">
        <table id="example" class="display" cellspacing="0" width="100%" data-display-length='-1'>
          <thead>
            <tr>
              <th>Image</th>
              <th>Id</th>
              <th>Name</th>
              <th>Genres</th>
              <th>Date of Release</th>
              <th>Summary</th>
              <th>IMDB Ratings</th>
              <th>Number of voters</th>
              <th>My Rating</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
   
  </body>
</html>

